[Unit]
Description=pwire-server
Requires=redis-server.service
After=network.target redis-server.service

[Service]
Type=simple
# Another Type: forking
User=root
WorkingDirectory=/etc/pwire/server
ExecStart=/etc/pwire/server/pwire-server
Restart=on-failure
[Install]
WantedBy=multi-user.target
