# This service file requires the following:
#
# pWire application setup and running under /etc/pwire/frontend

[Unit]
Description=pWire
Documentation=https://gitlab.dev.ifs.hsr.ch/epj/2020/pwire/pwire-frontend
Requires=redis-server.service
After=network.target redis-server.service

[Service]
User=caddy
Group=caddy
ExecStart=/usr/bin/php /etc/pwire/frontend/artisan redis:subscribe
Restart=on-failure
PrivateTmp=true
ProtectSystem=true

[Install]
WantedBy=multi-user.target
