# This service file requires the following:
#
# pWire application setup and running under /etc/pwire/frontend

[Unit]
Description=pWire
Documentation=https://gitlab.dev.ifs.hsr.ch/epj/2020/pwire/pwire-frontend
Requires=redis.service
After=network.target redis.service

[Service]
User=caddy
Group=caddy
ExecStart=/usr/bin/php /etc/pwire/frontend/artisan redis:subscribe
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
